        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            color: white;
        }

        header {
            background-color: #8b1c41;
            padding: 5px 40px;
        }

        .header {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .header img {
            width: 120px;
        }

        .footer {
            margin-top: auto;
            position: relative;
            color: black;
            text-align: center;
            padding: 15px 0;
            border-top: 1px solid rgba(255, 136, 0, 0.678);
        }

        .noticias {
            position: relative;
            width: 650px;
            height: 400px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            color: white;
            margin-top: 25px;
            margin-left: 225px;
        }

        .noticias img {
            width: 650px;
            height: 450px;
            object-fit: cover;
            filter: brightness(70%);
            transition: transform 0.3s;
        }

        .noticias:hover img {
            transform: scale(1.03);
        }

        .conteudo {
            position: absolute;
            bottom: 0;
            padding: 20px;
        }

        .tag {
            background: #ff4c00;
            color: white;
            font-size: 12px;
            font-weight: bold;
            padding: 4px 10px;
            border-radius: 3px;
            text-transform: uppercase;
            margin-bottom: 10px;
            display: inline-block;
        }

        .titulo {
            font-size: 22px;
            font-weight: bold;
            line-height: 1.3;
            margin: 10px 0;
        }

        .datag {
            font-size: 12px;
            color: #ddd;
        }

        .nav {
            display: flex;
            position: absolute;
            top: 40px;
            right: 135px;
            background: #8b1c41;
            color: #ffffff;
        }

        .nav a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-weight: bold;
            transition: color 0.2s;
            margin-left: 50px;
            font-size: 15px;
        }

        .nav a:hover {
            color: #ff5912;
        }

        .tt {
            display: flex;
            color: black;
            margin-left: 320px;
            font-weight: bold;
            font-size: large;
        }



        .cardg h2 {
            margin-top: 0%;
            font-family: "Bebas Neue", sans-serif;
            font-size: 2rem;
            color: rgb(0, 130, 130);
            margin-bottom: 30px;
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        .carditem {
            max-width: 430px;
            max-height: 350px;
            background-color: aliceblue;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            color: #333;
            font-family: "Roboto Flex", sans-serif;
            transition: transform 0.3s;
            text-align: center;
        }

        .carditem:hover {
            transform: scale(1.05);
        }

        .carditem img {
            display: block;
            margin: 0 auto;
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
        }
